backend/.env
backend/.env.local
backend/frontend/.env
backend/frontend/.env.local
.env
.env.production
!backend/frontend/.env.production
backend/wcc.db
**/__pycache__/
*.py[cod]
backend/frontend/node_modules/
/node_modules/
backend/frontend/dist/
